:root {
    --main-bg-color: #13293d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e0dbdb;
    min-height: 100vh;
}

div.hr {
    display: flex;
    justify-content: center;
}
div.hr > hr {
    width: 90%;
    background-color: #777777;
    border: none;
    height: 1px;
}

header {
    padding: 1rem;
}
header > .svg-typing {
    padding-top: .5rem 0;
}

.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile__title {
    margin-bottom: .5rem;
    font-size: calc(1.475rem + 2.7vw);
}

.profile__title__programador {
    font-weight: 400;
}
.profile__title__backend {
    color: #284b63;
    font-weight: normal;
}

#profile__presentation {
    font-weight: 300;
    text-transform: uppercase;
}

.profile__social-icons {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.profile__photo  {
    display: flex;
    justify-content: center;
}

.profile__photo img {
    width: 28rem;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}


section {
    padding: 1rem;
    margin: 0 10%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
section article, section div article {
    margin: 2rem 0;
}
section#about article h3 {
    font-size: 1rem;
    font-weight: 400;
}
section#about article p {
    margin: 1rem 0;
    color: #b1b1b1;
}

.project__info, .certification__info {
    margin: .5rem 0;
}
.project__name, .certification__name {
    margin-bottom: .5rem;
}
.project__img, .certification__img {
    width: 100%;
}
.project__description, .certification__descriptions {
    color: #b1b1b1;
}
.project__repo_url, .certification__repo_url {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.project__repo_url .project__repo_url_btn img {
    margin-inline-end: .1rem;
}
.project__repo_url .project__repo_url_btn a,
.certification__repo_url .certification__repo_url_btn a {
    text-decoration: none;
    color: #e0dbdb;
    font-weight: 500;
    padding-inline-end: .25rem;
    font-size: .7rem;
}

.project__repo_url_btn, .certification__repo_url_btn {
    display: flex;
    align-items: center;
    border: 1px solid dimgray;
    border-radius: 1rem;
    background-color: #284b63;
}
.projects__see_more, .certifications__see_more {
    color: #e0dbdb
}

#certifications {
    margin-top: 1rem;
}
.certification__repo_url .certification__repo_url_btn a {
    padding-inline-end: 0;
    padding: .2rem;
}


#services {
    margin-top: .5rem;
}
#services article {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 1rem;
    /* height: 200px; */
    background-color: #23445b42;
}

.service__title {
    margin-bottom: .5rem;
}
.service__card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem .5rem;
    align-items: center;
    margin-bottom: -1.4rem;
}

.contact__form {
    padding: 1rem;
}
.contact__form h3 {
    color: rgb(108, 117, 125);
    text-align: center;
    font-size: 1.5rem;
}

.contact__emails {
    text-align: center;
    margin-bottom: 2rem;
}

.contact__emails__list {
    list-style: none;
    margin: 1rem auto;
}
.contact__emails__list_item a {
    text-decoration: none;
    color: lightsteelblue;
    font-size: .9rem;
}

.contact__input {
    padding: .3rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    background-color: rgb(42, 63, 84);
    width: 85vw;
}
.contact__input img {
    margin-inline-start: .3rem;
    margin-bottom: .1rem;
}

.contact__input input {
    border: none;
    background-color: transparent;
    width: 90%;
    padding: .5rem;
}
.contact__input input::placeholder {
    text-align: center;
}
.contact__input input:focus {
    outline: none;
}
.contact__input button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.contact__input button img {
    margin-inline-end: .3rem;
    margin-top: .1rem;
}


@media screen and (min-width: 320px) and (max-width: 440px) {
    .profile__photo img {
        width: 19rem;
    }
    #services {
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 576px) {
    .contact__input {
        width: 100%;
    }
}
@media screen and (min-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
    }
    .profile {
        display: grid;
        grid-template-columns: auto auto;
    }
    .profile__social-icons {
        justify-content: start;
    }
    .profile__social-icons a {
        margin-inline: .5rem;
    }

    .projects__container {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 1rem;
    }
    .certifications__container {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 1rem;
    }
    .service__card {
        width: 28rem;
    }
}

@media screen and (min-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
        align-items: center;
    }
    .profile {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 2rem;
        margin-inline: 10%;
    }
    .profile__social-icons {
        justify-content: start;
    }
    .profile__social-icons a {
        margin-inline: .5rem;
    }

    .services__container {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 1rem;
    }
    .service__card {
        width: 15rem;
    }
}

@media screen and (min-width: 992px) {
    .service__card {
        width: 19rem;
        padding: 2rem;
    }
}

@media screen and (min-width: 1900px) {
    .service__card {
        width: 35rem;
        padding: 4rem;
    }
}