.contact-input {
    background-color: transparent;
    border: none;
}
form:focus {
    border: 5px solid red;
}
form {
    background-color: #2a3f54;
    border-radius: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
input:focus {
    outline: none;
}
